@charset "UTF-8";
@import url(./foundation/normalize.css);
body {
  background: #f9f8f6;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

h2 {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #887f69;
}

#l-container {
  margin: auto;
  padding: 0 10px;
}

@media (max-width: 550px) {
  #l-header {
    height: 90px;
    display: block;
  }
  #l-mainContent {
    display: block;
  }
  #l-sidebar {
    display: block;
  }
  #l-footer {
    display: block;
  }
}

@media (min-width: 551px) {
  #l-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 120px 1fr 200px;
    grid-template-rows: 120px 1fr 200px;
    -ms-grid-columns: minmax(180px, 700px) 220px;
    grid-template-columns: minmax(180px, 700px) 220px;
    grid-column-gap: 20px;
    max-width: 960px;
    box-sizing: border-box;
  }
  #l-header {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  #l-mainContent {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  #l-sidebar {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  #l-footer {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

@media (max-width: 550px) {
  .p-header .p-header__pc {
    display: none;
  }
  .p-header .header__logo--sp {
    display: block;
    margin: 0 0 12px auto;
    padding-top: 15px;
    margin-right: auto;
  }
  .p-header .p-header__icon {
    text-align: center;
  }
  .p-header .p-header__icon img {
    height: 24px;
    width: 24px;
    margin-right: 6px;
    margin-left: 6px;
  }
  .p-header .header__navigation--sp {
    display: none;
  }
  .p-header .header__navigation--sp ul {
    z-index: 100;
    width: 180px;
    position: absolute;
    top: 80px;
    background: #ffffff;
    right: 10px;
    margin: 0;
    padding: 0;
  }
  .p-header .header__navigation--sp li {
    border: 1px solid #eee;
    padding: 10px;
  }
}

@media (min-width: 551px) {
  .p-header .p-header__sp {
    display: none;
  }
  .p-header .p-header__pc {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 1fr 30px 30px;
    grid-template-columns: 150px 1fr 30px 30px;
  }
  .p-header .header__logo--pc {
    -ms-grid-column: 1;
    grid-column: 1;
    margin-top: 40px;
  }
  .p-header .header__navigation--pc {
    margin-top: 65px;
    margin-left: auto;
  }
  .p-header .header__navigation--pc ul {
    margin: 0;
  }
  .p-header .header__navigation--pc li {
    -ms-grid-column: 2;
    grid-column: 2;
    display: inline-block;
    margin-left: 10px;
    margin-right: 6px;
  }
  .p-header .p-header__api {
    width: 20px;
    height: 20px;
    margin-top: 60px;
    margin-left: auto;
  }
}

.p-footer .p-footer__topLink {
  display: block;
  width: 78px;
  height: 11px;
}

.p-footer hr {
  padding: 0;
  margin: 0;
  background-color: #887f69;
}

.p-footer ul {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
}

.p-footer li {
  display: inline-block;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
  color: #000000;
}

.p-footer li:not(:first-child)::before {
  content: "・";
}

.p-footer small {
  display: block;
  font-size: 10px;
  width: 100%;
  text-align: center;
}

@media (max-width: 550px) {
  .p-footer .p-footer__topLink {
    margin: 23px auto 28.5px auto;
  }
  .p-footer ul {
    margin-top: 19px;
    margin-bottom: 15px;
  }
  .p-footer li {
    font-size: 11px;
  }
}

@media (min-width: 551px) {
  .p-footer .p-footer__topLink {
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 19px;
  }
  .p-footer ul {
    margin-top: 34px;
    margin-bottom: 29px;
  }
  .p-footer li {
    font-size: 12px;
  }
}

.p-button {
  display: inline-block;
  margin: 0;
  padding: 0.75em;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.p-button:disabled, .p-button.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.p-button--main {
  background-color: #887f69;
  color: #ffffff;
}

.p-button--md {
  width: 120px;
  height: 40px;
}

.p-button--lg {
  width: 225px;
  height: 55px;
}

.itemList__button {
  display: flex;
  justify-content: space-between;
}

.p-button--center {
  margin-left: auto;
  margin-right: auto;
}

.p-sidevar__itemSearch {
  width: 100%;
  background: #ffffff;
  margin-bottom: 10px;
}

.p-sidevar__itemSearch .sidebar__searchBtn {
  width: 16px;
  height: 16px;
  position: relative;
}

.p-sidevar__itemSearch .p-sidebar__textBox {
  font-style: oblique;
}

@media (max-width: 550px) {
  .p-sidevar__itemSearch {
    height: 72px;
  }
  .p-sidevar__itemSearch label {
    display: none;
  }
  .p-sidevar__itemSearch .p-sidebar__textBox {
    width: calc(100% - 45px);
    margin-top: 21px;
    margin-left: 15px;
    letter-spacing: 0.6px;
    padding-left: 15px;
  }
  .p-sidevar__itemSearch .sidebar__searchBtn {
    left: calc(100% - 40px);
    top: -24px;
  }
}

@media (min-width: 551px) {
  .p-sidevar__itemSearch {
    height: 92px;
  }
  .p-sidevar__itemSearch label {
    display: block;
    padding-top: 15px;
    padding-left: 20px;
  }
  .p-sidevar__itemSearch .p-sidebar__textBox {
    width: calc(100% - 50px);
    margin-top: 7px;
    margin-left: 20px;
    letter-spacing: 0.6px;
    padding-left: 10px;
  }
  .p-sidevar__itemSearch .sidebar__searchBtn {
    left: 173px;
    top: -24px;
  }
}

.p-sidebar__info {
  width: 100%;
}

.p-sidebar__info h3 {
  background: #887f69;
  padding: 17px 0 16px 15px;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.6px;
  margin-top: 10px;
  margin-bottom: 1px;
}

.p-sidebar__info .p-info__box {
  background-color: #ffffff;
  text-align: center;
}

.p-sidebar__info .p-info__text {
  font-size: 12px;
  letter-spacing: 0.6px;
  text-align: left;
  margin: 0;
}

@media (max-width: 550px) {
  .p-info__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    padding: 11px 10px;
  }
  .p-info__box .p-info__image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -ms-grid-column: 1;
    grid-column: 1;
    width: 100%;
  }
  .p-info__box .p-info__text {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .p-info__box .p-info__button {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    padding-top: 15px;
    margin-bottom: 13px;
  }
}

@media (min-width: 551px) {
  .p-info__box {
    width: 100%;
  }
  .p-info__box .p-info__image {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .p-info__box .p-info__textArea {
    width: 196px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .p-info__box .p-info__button {
    margin-bottom: 21px;
  }
}

.p-accordion {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.p-accordion a {
  display: block;
  padding: 17px 0 16px 15px;
  text-decoration: none;
  height: 20px;
}

.p-accordion label {
  display: block;
  background: #887f69 url("../images/top/next_icon.png") right 10px center no-repeat;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
  padding: 17px 0 16px 15px;
  font-weight: bold;
  letter-spacing: 0.6px;
}

.p-accordion input {
  display: none;
}

.p-accordion ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.p-accordion li {
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.5s;
  font-size: 12px;
  background: #ffffff url("../images/top/next_icon_gray.png") right 10px center no-repeat;
  margin-bottom: 1px;
}

.p-accordion .p-accordion__item:checked + label {
  background: #887f69 url("../images/top/down_icon.png") right 10px center no-repeat;
}

.p-accordion #sidebar__pageLink:checked ~ #pageLink__list li,
.p-accordion #sidebar__categories:checked ~ #categories__list li {
  max-height: 45px;
  opacity: 1;
}

.p-accordion #pageLink__list {
  margin-bottom: 10px;
}

.p-itemList {
  margin-bottom: 30px;
}

.p-itemList .itemList__grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 2px;
}

.p-itemList .itemList__image {
  padding: 13px 13px 9px 13px;
  box-sizing: border-box;
  width: 100%;
}

.p-itemList .itemList__description {
  padding: 0 13px 20px 13px;
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.6px;
}

.p-itemList .itemList__price {
  padding: 0 13px 24px 13px;
  margin: 0;
  font-size: 12px;
}

@media (max-width: 550px) {
  .p-itemList .itemList__grid {
    -ms-grid-columns: (minmax(140px, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
  .p-itemList .itemList__title--sp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
  .p-itemList .itemList__title--pc {
    display: none;
  }
}

@media (min-width: 551px) {
  .p-itemList .itemList__grid {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .p-itemList .itemList__title--sp {
    display: none;
  }
  .p-itemList .itemList__title--pc {
    width: 100%;
    -o-object-fit: none;
    object-fit: none;
    margin-bottom: 30px;
  }
}

.p-itemList2 {
  margin-bottom: 30px;
}

.p-itemList2 .itemList__grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 2px;
  margin-bottom: 20px;
}

.p-itemList2 .itemList__image {
  padding: 13px 13px 9px 13px;
  box-sizing: border-box;
  width: 100%;
}

.p-itemList2 .itemList__description {
  padding: 0 13px 20px 13px;
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.6px;
}

.p-itemList2 .itemList__price {
  padding: 0 13px 24px 13px;
  margin: 0;
  font-size: 12px;
}

@media (max-width: 550px) {
  .p-itemList2 .itemList__grid {
    -ms-grid-columns: (minmax(140px, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
  .p-itemList2 .itemList__title--sp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
  .p-itemList2 .itemList__title--pc {
    display: none;
  }
}

@media (min-width: 551px) {
  .p-itemList2 .itemList__grid {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .p-itemList2 .itemList__title--sp {
    display: none;
  }
  .p-itemList2 .itemList__title--pc {
    width: 100%;
    -o-object-fit: none;
    object-fit: none;
    margin-bottom: 30px;
  }
}

.p-shoppingGuide {
  margin-bottom: 30px;
}

.p-shoppingGuide .p-shoppingGuide__box {
  box-sizing: border-box;
  padding: 20px;
}

.p-shoppingGuide .shoppingGuide__grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
}

.p-shoppingGuide h3 {
  margin-top: 0;
  font-size: 16px;
  color: #887f69;
}

.p-shoppingGuide .shoppingGuide__list {
  font-size: 12px;
}

.p-shoppingGuide dt {
  color: #887f69;
  margin-bottom: 10px;
  border-left-width: 12px;
  border-left-style: solid;
  border-left-color: #887f69;
  padding-left: 2px;
}

.p-shoppingGuide dd {
  margin-left: 0;
  margin-bottom: 16px;
}

.p-shoppingGuide .shoppingGuide__cardImage {
  width: 100%;
}

.p-shoppingGuide .itemList__image {
  padding: 13px 13px 9px 13px;
  box-sizing: border-box;
  width: 100%;
}

.p-shoppingGuide .itemList__description {
  padding: 0 13px 20px 13px;
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.6px;
}

.p-shoppingGuide .itemList__price {
  padding: 0 13px 24px 13px;
  margin: 0;
  font-size: 12px;
}

@media (max-width: 550px) {
  .p-shoppingGuide .shoppingGuide__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .p-shoppingGuide .shoppingGuide__title--sp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
  .p-shoppingGuide .shoppingGuide__title--pc {
    display: none;
  }
}

@media (min-width: 551px) {
  .p-shoppingGuide .shoppingGuide__grid {
    -ms-grid-columns: (minmax(100px, 347px))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(100px, 347px));
  }
  .p-shoppingGuide .shoppingGuide__title--sp {
    display: none;
  }
  .p-shoppingGuide .shoppingGuide__title--pc {
    width: 100%;
    -o-object-fit: none;
    object-fit: none;
    margin-bottom: 30px;
  }
}

.p-mainImage {
  margin-bottom: 10px;
}

.p-mainImage .p-mainImage--pc {
  width: 100%;
}

.p-mainCarousel {
  margin-bottom: 30px;
}

.owl-dots {
  height: 2px;
}

.owl-theme .owl-dots {
  text-align: left;
  border-radius: 0;
}

.owl-theme .owl-dots .owl-dot span {
  margin-top: 2px;
  margin-left: 0;
  margin-right: 10px;
  background-color: #aaaaaa;
  width: 25px;
  height: 2px;
  border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #9d1a2d;
}

.p-product {
  box-sizing: border-box;
  margin-bottom: 30px;
}

@media (max-width: 550px) {
  .p-product {
    padding: 19px 0 30px 0;
  }
}

@media (min-width: 551px) {
  .p-product {
    padding: 40px 60px 80px 60px;
  }
}

.p-product__title {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 2.8px;
}

@media (max-width: 550px) {
  .p-product__title {
    margin-top: 0;
  }
}

@media (min-width: 551px) {
  .p-product__title {
    margin: 0;
  }
}

.p-product__titleImg {
  margin-bottom: 18px;
}

.p-product__productCd {
  margin: 0;
  font-size: 10px;
  color: #a6a6a6;
}

.p-product__header {
  border-bottom: #e3e8cf 1px solid;
}

@media (max-width: 550px) {
  .p-product__header {
    padding-bottom: 16px;
    margin-bottom: 10px;
  }
}

@media (min-width: 551px) {
  .p-product__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
}

.p-product__table {
  width: 100%;
  border-collapse: collapse;
}

.p-product__table th, .p-product__table td {
  height: 40px;
  border: solid 1px #e8e4da;
  font-size: 12px;
  font-weight: normal;
  color: #887f69;
}

.p-product__table th {
  background-color: #f9f9f5;
}

.p-product__table td {
  padding-left: 12px;
  padding-right: 12px;
}

.p-product__table .p-table__center {
  text-align: center;
}

@media (max-width: 550px) {
  .p-product__table .table__headerColumn {
    width: 84px;
  }
}

@media (min-width: 551px) {
  .p-product__table .table__headerColumn {
    width: 162px;
  }
}

.p-products__type {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  margin-bottom: 36px;
}

.p-products__type img {
  margin-bottom: 18px;
}

.p-products__type dl {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.p-products__type dt {
  padding-top: 28px;
  width: 110px;
  border-top: #e3e8cf 1px solid;
}

.p-products__type dd {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 40px;
  width: calc(100% - 110px);
  margin-left: 0px;
  border-top: #e3e8cf 1px solid;
}

.p-products__type .p-products__price {
  font-size: 22px;
  color: #e80f66;
}

.p-products__type .u-textBox {
  width: 150px;
}

.p-products__type .btn {
  background-image: url("../images/products/add_to_cart.png");
}

@media (max-width: 1023px) {
  .p-products__type {
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
  }
  .p-products__type dl {
    border-bottom: #e3e8cf 1px solid;
  }
}

@media (min-width: 1024px) {
  .p-products__type {
    -ms-grid-columns: 329px 1fr;
    grid-template-columns: 329px 1fr;
    grid-gap: 25px;
    border-bottom: #e3e8cf 1px solid;
  }
}

.product_description h3 {
  color: #887f69;
  font-size: 16px;
  letter-spacing: 0.8px;
  border-bottom: #887f69 1px solid;
  margin-bottom: 29px;
  padding-bottom: 16px;
}

.product_description dl {
  margin-bottom: 29px;
}

.product_description dt {
  color: #887f69;
  margin-bottom: 16px;
}

.product_description dd {
  margin-left: 0;
  font-size: 14px;
  letter-spacing: 0.7px;
}

.p-product__slideShow {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.p-product__slideShow .slideShow__mainImage {
  max-width: 100%;
  max-height: 100%;
}

.p-product__slideShow .slideshow__subImage {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 550px) {
  .p-product__slideShow {
    -ms-grid-columns: (minmax(1fr, 75px))[5];
    grid-template-columns: repeat(5, minmax(1fr, 75px));
    -ms-grid-rows: 5fr 1fr 1fr;
    grid-template-rows: 5fr 1fr 1fr;
    grid-gap: 5px;
  }
  .p-product__slideShow .slideShow__mainImage {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media (min-width: 551px) {
  .p-product__slideShow {
    -ms-grid-columns: 5fr 1fr 1fr;
    grid-template-columns: 5fr 1fr 1fr;
    -ms-grid-rows: (minmax(1fr, 75px))[5];
    grid-template-rows: repeat(5, minmax(1fr, 75px));
    grid-gap: 8px;
  }
  .p-product__slideShow .slideShow__mainImage {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / span 5;
  }
}

.u-input_text {
  background: #eeeeee;
  box-shadow: none;
  border: none;
  height: 30px;
  padding: 0;
  font-size: 11px;
}

::-webkit-input-placeholder {
  color: #b5b5b5;
}

:-ms-input-placeholder {
  color: #b5b5b5;
}

::-ms-input-placeholder {
  color: #b5b5b5;
}

::placeholder {
  color: #b5b5b5;
}

.u-box {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.u-breadcrumb {
  width: 100%;
  height: 34px;
  display: flex;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: #e8e4da;
  border-radius: 3px;
  font-size: 11px;
}

.u-breadcrumb li {
  margin-top: auto;
  margin-bottom: auto;
}

.u-breadcrumb .u-breadcrumb__link {
  color: #887f69;
}

.u-breadcrumb .u-breadcrumb__homeImage {
  padding-right: 10px;
}

.u-breadcrumb li:not(:first-child)::before {
  content: "/";
  padding-right: 10px;
  padding-left: 10px;
  color: #887f69;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  transition: .4s;
}

.u-textBox {
  border: solid 1px #e8e4da;
  height: 36px;
}

/*# sourceMappingURL=style.css.map */
